@page "/"
@rendermode InteractiveServer
@inject Dbf25TeamTnrContext context
<PageTitle>Home</PageTitle>
@foreach(Staff staff in context.Staff)
{
    <StaffView Staff=@staff></StaffView>
}
<button @onclick="add100staff">click me</button>
