@page "/"
@rendermode InteractiveServer
@inject Dbf25TeamTnrContext context
<PageTitle>Home</PageTitle>
@foreach(Customer customer in context.Customers)
{
    <CustomerView customer=@customer></CustomerView>
}
<button @onclick="add100customers">click me</button>
