@page "/"
@rendermode InteractiveServer
@inject Dbf25TeamTnrContext context
@inject ILogger<Home> logger;
<PageTitle>Home</PageTitle>
<button @onclick="add100Rooms">click for rooms</button>
<button @onclick="generateData">click for data</button>
